<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eHealth</title>
</head>
<body>
    <h1>eHealth</h1>
        <div id="Login/Register">
        <a href="/fhsa/register/">Register Here</a><br/>
        {% if user.is_authenticated %}
            <a href="/fhsa/logout">Logout</a>
        {% else %}
            <a href="/fhsa/login/">Login</a>
        {% endif %}
    </div>
    <div id="Welcome Message">
        {% if user.is_authenticated %}
            <h2>Welcome back, {{  user.username }}</h2>
            <!--Need to get avatars working -->
            <img src="../../avatars/Alistair%20Cross.jpeg" alt="Error">
        {% else %}
            <h2>Welcome to eHealth</h2>
        {% endif %}
    </div>
    <div id="Search Bar">
        <form type="get" action="." style="margin: 0">
        <input  id="search_box" type="text" name="search_box"  placeholder="Enter Symptoms..." >
        <button id="web_search_submit" type="submit" >Web Search</button>
        <button id="fhsa_search_submit" type="submit">eHealth Search</button>
        </form>
    </div>
    <div id="Footer">
        About
    </div>
</body>
</html>