<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eHealth</title>
</head>
<body>
    <div id="UserBanner"></div>
        <h1><a href="/fhsa/">eHealth</a></h1>
        {% if user.is_authenticated %}
            <a href="/fhsa/logout">Logout</a>
            <a href="/fhsa/user_page">
            <img src="{% static "/profile_images/{{ user.username }}.png" %}" alt="profile picture"/>
            {{ user.username }}</a>
        {% else %}
            <a href="/fhsa/register/">Register Here</a>
            <a href="/fhsa/login/">Login</a>
        {% endif %}
    </div>
    <div id="WelcomeMessage">
        {% if user.is_authenticated %}
            <h2>Welcome back, {{  user.username }}</h2>
            <!--Need to get avatars working
            Also need to get user pages working-->
        {% else %}
            <h2>Welcome to eHealth</h2>
        {% endif %}
    </div>
    <div id="SearchBar">
        <form type="get" action="." style="margin: 0">
        <input  id="search_box" type="text" name="search_box"  placeholder="Enter Symptoms..." ><br/>
        <button id="web_search_submit" type="submit" >Web Search</button>
        <button id="fhsa_search_submit" type="submit">eHealth Search</button>
        </form>
    </div>
    <div id="Footer">
       <a href="/fhsa/about/">About</a>
    </div>
</body>
</html>