{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body %}
	{% if registered %}
		<h1 id="centered-header">Thank you for registering!</h1>
	{% else %}
    <h1 class="page-title">Register with eHealth</h1>
	<div id="register">
		<form id="register-form" id="user_form" method="post" action="/fhsa/register/"
                enctype="multipart/form-data">

			{% csrf_token %}
			<input class="input-text" id="id_username" maxlength="30" name="username" type="text" placeholder="Username">
			<span class="helptext"> Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span><br/>
			<input class="input-text" id="id_email" maxlength="254" name="email" type="email" placeholder="Email address"><br/>
			<input class="input-text" id="id_password" name="password" type="password" placeholder="Password"><br/>
			<label for="id_avatar"> Avatar:</label>
			<input id="avatar-select" id="id_avatar" name="avatar" type="file"><br/>
			<select class="input-select" id="id_gender" name="gender">
				<option value="" selected="selected">Gender</option>
				<option value="M">Male</option>
				<option value="F">Female</option>
			</select><br/>
			<input class="input-text" id="id_DOB" name="DOB" type="text" placeholder="Date of Birth"><br/>
			<input id="register-button" type="submit" name="submit" value="Register" />
			</form>
		{% endif %}
	</div>
{% endblock %}