{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Save Result{% endblock %}

{% block body %}
		<h1 class="page-title">Save Result</h1>
		<div class="centered-div">Where would you like to save this result?</div>
		<div id="save-folders-container">
			<div id="save-folders">
				{% csrf_token %}
				{% for f in folders %}
					<div class="folder">
						<a class="folder-title" href="/fhsa/folder/{{ f.slug }}">{{ f.name }}</a></br>
						<p class="folder-description">
							{{ f.description }}
						</p>
					</div>
				{% endfor %}
			</div>
			<ul id="save-folder-options">
				<li class="folder-list-option"><a class="folder-option" href="/fhsa/create_folder/">Add a New Folder</a>
			</ul>
		</div>
{% endblock %}
