{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body %}
	<div id="search-results">
		<form id="search2" id="user_form" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input id="search-bar" type="text" size="50" name="query" value="" id="query" placeholder="Type symptoms here" />
            <input id="search-button" type="submit" name="submit" value="Search" />
            </form>
			<a class="mode" href="?query={{searchterm}}&api=*">All</a>  <a class="mode" href="?query={{searchterm}}&api=bing">Bing</a>  <a class="mode" href="?query={{searchterm}}&api=medline">Medline</a>  <a class="mode" href="?query={{searchterm}}&api=healthfinder">HealthFinder</a>
	</div>
	<div id="results">
		<h1>Results</h1>
		{% if result_list %}
			<div>
				{% for result in result_list %}
					<div>
						<h4><a class="result-header" href="{{ result.url }}">{{ result.title }}</a></h4>
						<p>{{ result.shortDescription }}</p>
						<p>Sensitivity: {{result.sensitivity}} <a href="/fhsa/save">save</a></p>
					</div>
				{% endfor %}
			</div>			
		{% endif %}			
	</div>
{% endblock %}
