<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/user_page.css' %}">
    <title>{{ user.user }}'s Page</title>
</head>
<body>
    <h1><a href="/fhsa/">eHealth</a></h1>
    <div id="header">
        {% block content %}
            <img src="{{ avatarSrc }}" height=300 width=300>
        {% endblock %}
        <h2>{{ user.user }}</h2>
    </div>
    <div id="bio">
        <h3>Bio</h3>
        Date of Birth: {{ user.DOB }} <br/>
        Gender: {{ user.gender }}<br/>
        Email: {{ userorg.email }}
    </div>
    <div id="folder_menu">
        {% for foo in folder %}
            {% if foo.user == user.user %}
                {{ foo.name }} <br/>
                {{ foo.description }} <br/>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>