html {
	height:100%;
	margin:0;
	padding:0;
}
body {
	position: relative;
	margin:0;
	padding:0;
	height:100%;
	background: rgba(50, 50, 50, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar {
	position: fixed;
	width:100%;
	z-index:1;
	overflow: hidden;
    background-color: #333;
	height:46px;
}

li {
}

.header-element {
	float: right;
}

.home {
	float: left;
	margin-left:3%;
}

li a {
}

.header-link {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#profile-link {
	display: block;
    color: white;
    text-align: center;
	padding: 8px 16px;
    text-decoration: none
}

#profile-pic {
	vertical-align: -50%;
}

li a:hover {
    background-color: #111;
}

#search-div {
	position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

h1 {
	color: #333;
}

.page-title {
	margin-left: 2%;
	text-align:center;
}

form {

}

#search {
	width:500px;
    margin:50px auto;
}

#search-bar {
	padding:8px 15px;
    background:white;
    border:0px solid black;
}

#search-button {
	position:relative;
    padding:6px 15px;
    left:-3px;
    border:2px solid black;
    background-color:#333;
    color:#fafafa;
	cursor: pointer;
}

#search-button:hover {
	background-color:#111;
}

#footer {
	position:absolute;
	bottom: 0;
}

.container {
	position:absolute;
	top: 10%;
	width:100%;
	height:90%;
}

#profile-name {
	box-sizing: border-box;
	position:absolute;
	width:100%;
	height:10%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
	text-align: center;
}

#profile-image {
	border: 1px solid #333;
    border-radius: 4px;
	position:relative;
}

#bio {
	position:absolute;
	top:12%;
	height:75%;
	width:20%;
	margin-left: 3%;
	padding:6px 15px 6px 15px;
	border: 2px groove #333;
	text-align:center;
}

#bio-text {
	position:absolute;
	top: 65%;
	left: 27%;
}

#appearance {
	position:absolute;
	top: 80%;
	width:20%;
	height:19%;
	margin-left: 1%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
	text-align:center;
}

#folders {
	position:absolute;
	overflow:scroll;
	width: 90%;
	height: 80%;
	left:3.5%;
	padding:6px 15px 6px 15px;
	border: 2px groove #333;
}

#register {
	position:absolute;
	height: 50%;
	left:30%;
	width:40%;
	top:12%;
	padding:20px 20px 20px 20px;
	border: 2px groove #333;
}

#register-form {
	position:absolute;
	width:95%;
}

.input-select {
	width:100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	color:#ccc;
	border: 3px solid #ccc;
	 -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-select:focus {
	border: 3px solid #555;
	color:black;
}

.input-text {
	width:100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	color:black;
	border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-text:focus {
	border: 3px solid #555;
}

#register-button {
	position:relative;
	left:2px;
    padding:6px 15px;
    border:2px solid black;
    background-color:#333;
    color:#fafafa;
	cursor: pointer;
}

#register-button:hover {
	background-color:#111;
}

#about-div {
	position:absolute;
	height:80%;
	width:60%;
	left:16.5%;
	top:5%;
	padding: 20px 50px 20px 50px;
	border: 2px groove #333;
}

#login-div {
	position:absolute;
	left:30%;
	height:50%;
	width:40%;
	top:12%;
	padding:20px 20px 20px 20px;
	border: 2px groove #333;
}

#about-text {
	text-align:center;
}

#search-results {
	position:absolute;
	padding: 1% 1% 3% 3%;
	margin-left: 1%;
	width:93%;
	border-bottom: 1px solid black;
}

#search2 {
	width:500px;
	padding-bottom: 25px;
}
#search-button {
	position:relative;
    padding:6px 15px;
    left:-3px;
    border:2px solid black;
    background-color:#333;
    color:#fafafa;
	cursor: pointer;
}

.mode {
	text-decoration:none;
	color:#333;
	padding-right: 2%;
}

.mode:hover {
	color:black;
	cursor: pointer;
}

#results {
	position:absolute;
	top:20%;
	width:90%;
	padding:1% 0% 1% 3%;
	margin-left: 10px;
}

.result-header {
	text-decoration:none;
	font-size:20px;
}

.result-header:hover {
	text-decoration:underline;
}

#centered-header{
	text-align:center;
}

#save {
	text-decoration:none;
	cursor:pointer;
}

#save:hover {
	text-decoration:underline;
}

#user-header {
	position:absolute;
	width:94%;
	left:3%;
	height:10%;
	border: 2px groove #333;
	text-align:center;
}

#bio-info {
	text-align:left;
	position:relative;
	left:18%;
	padding-top:10px
}

#folder-container {
	position:absolute;
	top:12%;
	height:75%;
	width:69%;
	left:26%;
	border:2px groove #333;
	padding: 6px 15px 6px 15px;
	margin-left:9px;
}

#folder-options {
	position:absolute;
	bottom:2%;
	left:3.5%;
	width:92.3%;
	height:10%;
}

.folder-option {
	position:absolute;
	display:block;
	padding-left: 2%;
	padding-right:2%;
	padding-top:1.5%;
	text-align:center;
	border: 2px groove #333;
	height: 60%;
	width: 10%;
	text-decoration:none;
	background-color:#333;
	color:white;
}

.centered-div {
	text-align:center;
	width:100%;
}

#save-folders-container{
	position:absolute;
	top:15%;
	height:75%;
	width:85%;
	left:6%;
	border:2px groove #333;
	padding: 6px 15px 6px 15px;
	margin-left:9px;
}

#save-folders{
	position:absolute;
	overflow:scroll;
	width: 90%;
	height: 80%;
	left:3.5%;
	padding:6px 15px 6px 15px;
	border: 2px groove #333;
}

#save-folder-options {
	position:absolute;
	bottom:2%;
	left:3.5%;
	width:92.3%;
	height:10%;
}

.folder {
	display: inline-block;
	margin-left:2%;
	margin-top:1%;
	width:10%;
	height:25%;
	overflow:hidden;
	border: 1px groove #333;
	padding:5px;
}

.folder-title{
	text-decoration:none;
	font-size:20px;
}

.folder-title:hover {
	text-decoration: underline;
}

#features-list {
	position:absolute;
	left:20%;
	list-style: circle inside;
}
