html {
	height:100%;
	margin:0;
	padding:0;
}
body {
	position: relative;
	margin:0;
	padding:0;
	height:100%;
	background: rgba(50, 50, 50, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar {
	overflow: hidden;
    background-color: #333;
	height:46px;
}

li {
}

.header-element {
	float: right;
}

.home {
	float: left;
}

li a {
}

.header-link {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#profile-link {
	display: block;
    color: white;
    text-align: center;
	padding: 8px 16px;
    text-decoration: none
}

#profile-pic {
	vertical-align: -50%;
}

li a:hover {
    background-color: #111;
}

#search-div {
	position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

h1 {
	color: #333;
}

.page-title {
	margin-left: 2%;
	text-align:center;
}

form {
	
}

#search {
	width:500px;
    margin:50px auto;
}

#search-bar {
	padding:8px 15px;
    background:white;
    border:0px solid black;
}

#search-button {
	position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid black;
    background-color:#333;
    color:#fafafa;
	cursor: pointer;
}

#search-button:hover {
	background-color:#111;
}

#footer {
	position:absolute;
	bottom: 0;
}

.container {
	position:absolute;
	top: 46px;
	width:100%;
	height:90%;
}

#profile-name {
	box-sizing: border-box;
	position:absolute;
	width:100%;
	height:10%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
	text-align: center;
}

#profile-image {
	position:absolute;
	border: 1px solid #ddd;
    border-radius: 4px;
	left:18%;
	top: 10%;
}

#bio {
	position:absolute;
	top:16%;
	height:60%;
	width:20%;
	margin-left: 1%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
	text-align:center;
}

#bio-text {
	position:absolute;
	top: 65%;
	left: 27%;
}

#appearance {
	position:absolute;
	top: 80%;
	width:20%;
	height:19%;
	margin-left: 1%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
	text-align:center;
}

#folders {
	position:absolute;
	width: 72%;
	top: 16%;
	height: 83%;
	left:24%;
	padding:6px 15px 6px 15px;
	border: 5px groove red;
}

#register {
	position:absolute;
	height: 50%;
	left:30%;
	width:40%;
	top:12%;
	padding:20px 20px 20px 20px;
	border: 5px groove red;
}

#register-form {
	position:absolute;
	width:95%;
}

.input-select {
	width:100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	color:#ccc;
	border: 3px solid #ccc;
	 -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-select:focus {
	border: 3px solid #555;
	color:black;
}

.input-text {
	width:100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	color:black;
	border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-text:focus {
	border: 3px solid #555;
}

#register-button {
	position:relative;
	left:2px;
    padding:6px 15px;
    border:2px solid black;
    background-color:#333;
    color:#fafafa;
	cursor: pointer;
}

#register-button:hover {
	background-color:#111;
}

#about-div {
	position:absolute;
	height:90%;
	width:80%;
	left:6%;
	top:5%;
	padding: 20px 50px 20px 50px;
	border: 5px groove black;
}

#login-div {
	position:absolute;
	height: 50%;
	left:30%;
	width:40%;
	top:12%;
	padding:20px 20px 20px 20px;
	border: 5px groove black;
}

#about-text {
	text-align:center;
}


